body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

form:not(.add-group) {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.add-group {
  padding: 0 13px;
  margin-bottom: 10px;
}

.add-group button {
  margin: 5px 0 0 0;
}

.add-group input {
  margin-top: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.table {
  font-size: 12px;
}

.glyphicon {
  cursor: pointer;
  color: #18bc9c;
}

.table.table-striped tr.last-modified {
  background-color: #2c3e50;
  color: white;
}

.search-label {
  margin-right: 10px;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: normal;
}

.groups-list li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #7b8a8b;
  white-space: nowrap;
}

.groups-list .active > a,
.groups-list > li > a:hover,
.groups-list > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #2c3e50;
}